.logo {
    height: 3em;
}

.nav-custom {
    width: 100%;
    height: 72px;
}

#navbarNav {
    z-index: 1;
}

#areagraph {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

#collapse-btn {
    height: 3em;
    width: 3em;
}

.hr-custom {
    border-color: white;
    margin-right: 0px;
    margin-left: 0px;
}

.btn-custom {
    height: 4em;
    max-height: 4rem;
    width: 100%;
    padding: 0;
    font-size: x-large;
    border-radius: 7px;
}

.abs-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.active-dir {
    color: orange !important;
}