.lookout-container {
    height: calc(100vh - 72px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.select-custom {
    height: 3em;
    width: 15em;
    border-radius: 5px;
}

.btn_custom {
    display: flex;
    justify-content: center;
    height: 3em;
}

.select-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.selected-station {
    font-size: 3ch;
    min-height: 6vh;
    border: 1px solid black;
    width: auto;
    max-width: 20ch;
    margin: 1rem auto 1rem auto;
    background-color: rgb(201, 230, 250);
    border-radius: 1em;
}

.choice {
    margin-bottom: 0;
}

.datepicker-container {
    display: flex;
    justify-content: center;
}

mat-form-field {
    margin: 0 0 0 0;
    min-width: fit-content;
    min-width: 20%;
    max-width: 15rem;
}

.active {
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
}

.nav-custom {
    position: relative;
}

.logo {
    margin-top: 5px;
    height: 7.5em;
}

.info-container>p {
    max-width: 30ch;
    margin: 0 auto 0 auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}