<app-header> </app-header>
<div class="card card-custom">
	<div class="card-header text-center bg-secondary">
		<h1 class="ch-main text-light"><b>AreaGraph</b></h1>
		<h3 class="ch-sub">
			<em><b>Progetto realizzato a scopo didattico</b></em>
		</h3>
	</div>

	<div class="card-body">
		<div class="row card-body-item">
			<div class="card-body-item">
				<hr />
				<h2 class="text-center"><b>Obiettivo</b></h2>

				<h4 class="text-center">
					Visualizzare i dati ricevuti da un database
					<br />
					delle stazioni di sensori IOT sotto forma di un grafico.
					<br />
				</h4>
			</div>
		</div>
		<div class="row card-body-item">
			<div class="card-body-item">
				<hr />
				<h2 class="text-center"><b>Strumenti usati</b></h2>

				<div class="div-center">
					<ul>
						<li>
							Frontend :
							<a href="https://angularjs.org/" target="blank"> AngularJS </a>
							[VSCode & win/linux]
						</li>
						<li>
							Backend :
							<a
								href="https://flask.palletsprojects.com/en/2.0.x/"
								target="blank"
							>
								Flask
							</a>
							[VSCode & linux]
						</li>
						<li>
							Hosting:
							<a href="https://heroku.com/" target="blank"> Heroku </a>
						</li>
					</ul>
				</div>
				<hr />
			</div>
		</div>
	</div>

	<div class="footer card-footer text-muted text-center">
		© 2021 D.Oleksandr -
		<em>Magenta Srl.</em>
	</div>
</div>
