<div class="card card-custom">
    <div class="card-header text-center">
        <h1 class="ch-main"><b>AreaGraph</b></h1>
        <h3 class="ch-sub text-muted"><em>E' un progetto realizzato a scopo didattico</em></h3>
    </div>

    <div class="card-body">
        <h2 class="text-center">L'<b>Obiettivo</b></h2>

        <h4 class="text-center">
            E' quello di visualizzare i dati ricevuti da un database <br /> delle stazioni di sensori IOT sotto forma di un grafico. <br />
        </h4>
        <hr />
        <h2 class="text-center"><b>Strumenti usati:</b></h2>

        <div class="div-center">
            <h4 class="text-left">
                Frontend:Angular <br /> Backend:Flask
            </h4>
        </div>
        <hr />
    </div>

    <div class="card-footer text-muted text-center">© 2021 D.Oleksandr - <em>Magenta Srl.</em></div>
</div>