h2 {
    font-size: 3ch;
}

.card-custom {
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 72px) !important;
    background-color: rgb(205, 213, 247);
    border: 0;
}

.ch-main {
    margin-bottom: 0;
    font-size: 4ch;
}

.ch-sub {
    margin-top: 0;
    font-size: 2ch;
}

.div-center {
    display: flex;
    justify-content: center;
}

.card-body {
    margin-top: calc(25vh - 72px - 5em);
    vertical-align: middle;
    border-radius: 50px !important;
}

.card-header {
    margin: 0 0 auto 0;
}

.card-body-item {
    margin: 0 auto 0 auto;
    width: 40vw;
    min-width: 250px;
    overflow: hidden;
}

hr {
    background-color: rgba(0, 0, 255, 0.158);
}