<div class="lookout-container">
    <!--  -->
    <div class="top-container">
        <!-- <div class="select-container">
            <select name="station_list" class="bg-secondary text-center text-white select-custom border border-dark" [(ngModel)]="selected_station" (change)="selectHandler()">
				<option value="" selected>Seziona una stazione</option>
				<option *ngFor="let item of stations" [value]="item.name">{{ item.name }}</option>
			</select>
        </div> -->
        <app-map (onStationSelect)="stationSelectHandler($event)"></app-map>
        <div *ngIf="selected_station !== ''">
            <h1 class="text-success text-center">{{ selected_station }}</h1>
            <div class="datepicker-container">
                <mat-form-field appearance="fill" class="mr-3 datepicker-item">
                    <mat-label class="text-primary">Data inizio</mat-label>
                    <input readonly matInput [matDatepicker]="startpicker" [value]="date_from.value" [max]="max_date" (dateInput)="date_fromInputHandler($event)" (dateChange)="date_fromInputHandler($event)" />
                    <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                    <mat-datepicker #startpicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" class="datepicker-item">
                    <mat-label class="text-primary">Data fine</mat-label>
                    <input readonly matInput [matDatepicker]="endpicker" [value]="date_to.value" [min]="date_from.value" [max]="max_date" (dateInput)="date_toInputHandler($event)" (dateChange)="date_toInputHandler($event)" />
                    <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                    <mat-datepicker #endpicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="btn_custom">
                <button [disabled]="!validDates()" type="button" class="btn btn-primary text-center bg-info" style="width: 10em" (click)="getStationHandler()">Search</button>
            </div>
        </div>
    </div>

    <div ngClass="{{ sHourlyAvg != null && sHourlyAvg.length > 0 ? 'active' : 'inactive' }}">
        <app-linechart [data]="sHourlyAvg" [enabled]="sHourlyAvg != null && sHourlyAvg.length > 0"></app-linechart>
    </div>
</div>