.lookout-container {
    height: calc(100vh - 71px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.select-custom {
    height: 3em;
    width: 15em;
    border-radius: 5px;
}

.btn_custom {
    display: flex;
    justify-content: center;
    height: 3em;
}

.select-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.datepicker-container {
    display: flex;
    justify-content: center;
}

.datepicker-item {
    margin: 1em auto 0 auto;
    min-width: fit-content;
    min-width: 20%;
    max-width: 30% !important;
}

.active {
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
}

.nav-custom {
    position: relative;
}

.logo {
    margin-top: 5px;
    height: 7.5em;
}

.info-container>p {
    max-width: 30ch;
    margin: 0 auto 0 auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}