.homepage-container {
    /* height: calc(100vh - 72px); */
    display: flex;
    flex-direction: column;
    justify-content: center
}

.hr-c {
    margin-top: 1rem;
    width: 90%;
}

.btn-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 0 auto;
    height: 7em;
    width: 15em;
}

.btn-start>button {
    width: 15em;
    border-radius: 25px;
    font-size: large;
}

.nav-custom {
    position: relative;
}

.logo {
    margin-top: 5px;
    height: 7.5em;
}

.info-container>p {
    font-size: 2ch;
    max-width: 45ch;
    margin: 0 auto 0 auto;
}

.holder {
    position: relative;
    width: 100vw;
    height: 50px;
}

.c {
    min-height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}