.select_custom {
    height: 3em;
    width: 30%;
    border-radius: 5px;
}

.select_container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.btn_custom {
    display: flex;
    justify-content: center;
    height: 3em;
}

.chart-container {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.inactive {
    opacity: 0;
}

.active {
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}