<div class="c">
    <div class="homepage-container">
        <div class="info-container text-center">
            <img src="https://i.imgur.com/sr8kUGX.png" alt="AreaGraph" class="logo" title="AreaGraph" />
            <h1 class="link text-dark" id="areagraph"><b>AreaGraph</b></h1>
            <p class="text-center">
                <b>
					<em>
						Visualizza valori degli inquinanti nell'aria dentro un
						grafico
					</em>
				</b>

                <!-- <b><em>Guarda ora i valori degli inquinanti dell'ariache mostra sotto forma di grafico, valori medi degli inquinanti dell'aria in un determinato periodo, scansionati con appositi sensori. </em></b> -->
            </p>
            <p class="text-success"><b>In pochissimi click!</b></p>
        </div>

        <hr class="hr-c" />
        <div class="btn-start">
            <button class="btn btn-secondary border-dark" [routerLink]="['/map']">
				Vai all'applicazione
			</button>
        </div>
        <hr class="hr-c" />
    </div>
    <div class="card-footer footer"></div>
</div>