.select_custom {
    height: 3em;
    width: 30%;
    border-radius: 5px;
}

.select_container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.btn_custom {
    display: flex;
    justify-content: center;
    height: 3em;
}

.chart-container {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.inactive {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.active {
    opacity: 1;
}