<div class="homepage-container">
    <div class="info-container text-center">
        <img src="https://i.imgur.com/sr8kUGX.png" alt="AreaGraph" class="logo" title="AreaGraph" />
        <h1 class="link text-dark" id="areagraph">AreaGraph</h1>
        <p class="text-info text-center">
            AreaGraph e' una piattaforma che mostra sotto forma di grafico, valori medi degli inquinanti dell'aria in un determinato periodo, scansionati con appositi sensori.
        </p>
    </div>
    <div class="btn-start">
        <button class="btn btn-secondary border-dark" [routerLink]="['/map']">Vai all'applicazione</button>
    </div>
</div>